<div class="landing-page">
    <div class="actions">

        <div class="page-header">
            FoursSquare
        </div>

        <md-content class="venues-collection">
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="item in venues" ng-click="null">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ item.name }}</h3>
                        <h4>{{ item.location.formattedAddress[0] }}</h4>
                        <p>{{ item.notes }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>

    </div>

    <div class="banner">
        <ng-map center="[40.74, -74.18]"></ng-map>
    </div>
</div>
