<div class="landing-page">
    <div class="actions">

        <div class="page-header">
            FoursSquare
        </div>

        <md-content class="venues-collection">
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="v in venues" ng-click="null">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ v.name }}</h3>
                        <h4>{{ v.location.formattedAddress[0] }}</h4>
                        <p>{{ v.categories[0].name }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>

    </div>

    <div class="banner">
        <ng-map
                zoom="14"
                center="[{{ venues[0].location.lat }},{{ venues[0].location.lng }}]"
        >
            <marker
                    ng-repeat="v in venues track by $index"
                    id="custom-marker-{{$index}}"
                    position="{{[v.location.lat,v.location.lng]}}">
            </marker>

        </ng-map>
    </div>
</div>
