#app {
  &.about {
    .content-wrapper {
      max-width: 100%;
      padding: 0;

      .landing-page {
        .actions {
          margin-top: 0;
          width: 30%;
          float: right;
          padding: 20px 25px;
        }
        .banner {
          width: 70%;
          float: left;
          background: #444;
          height: 100%;
          position: relative;
          &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .content-wrapper {
    .landing-page {
      .actions {
        width: 100% !important;
        margin-top: 20px !important;
      }
      .banner {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .content-wrapper {
    .landing-page {
      .actions {
        width: 50% !important;
      }
      .banner {
        width: 50% !important;
      }
    }
  }
}
