.sidebar {
  position: absolute;
  padding: 0 20px;
  width: 400px;
  left: 50%;
  top: 97px;
  margin-left: 160px;

  &.--fixed {
    top: 40px;
    position: fixed;
  }

  .header {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .popular-tags {
    margin-bottom: 25px;
    display: block;
    float: left;
    width: 100%;
  }
  .popular-activities {
    margin-bottom: 20px;
    display: block;
    float: left;

    .item {
      display: block;
      float: left;
      margin-bottom: 12px;
      width: 100%;

      .media {
        width: 45px !important;
        height: 45px !important;
        display: block;
        float: left;
        margin-right: 10px;
        border-radius: 50%;
      }
      .details {
        margin-left: 58px;

        .category {
          color: #09c;
          font-weight: 500;
          cursor: pointer;
          font-size: 12px;
          text-transform: uppercase;
          float: left;
        }
        .username {
          color: #333;
          font-weight: 600;
          cursor: pointer;
          font-size: 13px;
          float: left;
        }
        .title {
          font-size: 13px;
          font-weight: 400;
          color: #666;
          line-height: 1.1;
          text-decoration: none;
          float: left;

          &:hover {
            color: #333;
          }
        }
      }
    }
  }
  .banner {
    background: #df0000;
    color: #fff;
    font-weight: 500;
    padding: 20px;

    .intro {
      color: #eee;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .action {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 992px) {
  .sidebar {
    position: inherit;
    margin: 0;
    width: 100%;
    padding: 0 10px 20px 10px;
    display: block;
    float: left;

    &.--fixed {
      position: inherit;
    }
  }
}
